<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Explore Aminah's Work</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/exploreWork.css">

    </head>
    <body>


      <section id="pageContainer"> 
            
              <div class="sidebarContainer">

                  <div class="logo"> <a href ="/home"><img src="/img/logo.png" alt="Aminah's World Logo"></a> </div>
                  <ul class="mainNav">
                      <li class="mainNavItem one"><a href="/artist-bio">Artist Bio & Timeline</a></li>
                      <li class="mainNavItem two active"><a href="/explore-work">Explore Aminah's Work</a></li>

                      <li class="mainNavItem three"> <a href="/explore-work/see">Where to See Work by Aminah</a>
                      </li>
                      <li class="mainNavItem four"><a href="/teach">For Teachers & Students</a></li>
                  </ul>
        </div>

                
        <div class="contentContainer">  

         <div class="mainNavItem seeWork five">
        
        <a href="http://database.aminahsworld.org/" target="_blank">Aminah Brenda Lynn Robinson Database</a>
      </div> 

          <div class="explore">

            <!-- <h1 class="contentTitle">Aminah Brenda Lynn Robinson</h1>     -->

            <p> Aminah's work, often produced in ongoing series, details a journey through history 
              that begins in Africa hundreds of years ago and continues today. It is 
              journey that confronts struggle, oppression, and despair and that also celebrates joy, 
              freedom, and hope for the future. Through her work, Aminah has given new life to 
              communities that no longer exist and has assured the legacy of existing communities. </p>

            
            <div class="thumbnailImages">
               
              <div class="thumb" > <img src="/img/exploreWork/grounding/thum-grounding.jpeg"  alt="The Grounding">
              <a href="/explore-work/grounding">   <h2 class="imgTitle">The Grounding</h2></a>
              
              </div>
              <div class="thumb" ><img src="/img/exploreWork/neighborhoods/thum-neigh.jpeg" alt="Neighborhoods and Pages in History">
                <a href="/explore-work/neighborhoods">
                  <h2 class="imgTitle">Neighborhoods and <em>Pages in History</em></h2></a>
              </div>
              <div><img class="thumb" src="/img/exploreWork//journeys/thum-journeys.jpeg" alt="Journeys">
                <a href="/explore-work/journeys"> <h2 class="imgTitle">Journeys</h2></a>
              </div>
              <div><img class="thumb" src="/img/exploreWork//book/thum-teachings.jpeg" alt="The Book">
                <a href="/explore-work/the-book">  <h2 class="imgTitle">The Book</h2></a>
              </div>


                </div>

                <div class="understand"> 

                  <img class="understandImg" src="/img/horz-line.png" alt="">

                  <p> Aminah's artistic vocabulary consists of a combination of the skills 
                    she learned in art school and those passed down to her by her family.
                     Her father taught her to make hogmawg, her word for a sculptural material 
                     used in both two- and three-dimensional work.The button and needle work she 
                     learned from her mother are evident in her rag paintings and RagGonNons, her word 
                     for complex works of art that can come in many forms but often include buttons, 
                     men's neckties, and other found objects. Click on each type of work pictured above 
                     to see the materials and processes she uses and to hear her describe them.</p>
                </div>
                      

                            </div>

                </div>

            </section>

            <footer>
              <div class="footerContents">

                  <div class="copyright">Copyright © 2021. All works of art © Aminah Brenda Lynn Robinson.
                  </div>

                  <ul class="footerNav">
                    <li class="footerNavItem">Site created by <a href="https://www.columbusmuseum.org/">Columbus Museum of Art</a></li>
                    <li class="footerNavItem"><a href="/rights-restrictions.html">Rights & Restrictions</a></li>
                    <li class="footerNavItem"><a href="http://database.aminahsworld.org/">Aminah Robinson Database</a></li>
                  </ul>
                  
                </div>  

          </footer>

    </body>
</html>