<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Explore Aminah's Work</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/exploreWork.css">

        <script src="/js/modal.js" type="text/javascript" defer></script>



    </head>
    <body>


      <section id="pageContainer"> 
            
        <div class="sidebarContainer"> 

          <div class="logo"> <a href ="/home"><img src="/img/logo.png" alt="Aminah's World Logo"></a> </div>
            <ul class="mainNav">
                <li class="mainNavItem one"><a href="/artist-bio">Artist Bio & Timeline</a></li>
                <li class="mainNavItem two active"><a href="/explore-work">Explore Aminah's Work</a></li>

                <li class="mainNavItem three"> <a href="/explore-work/see">Where to See Work by Aminah</a>
                </li>
                <li class="mainNavItem four"><a href="/teach">For Teachers & Students</a></li>
            </ul>
  </div>

          
  <div class="contentContainer">  

    <div class="mainNavItem seeWork five">
      <a href="http://database.aminahsworld.org/" target="_blank">Aminah Brenda Lynn Robinson Database</a>
    </div>

          <h1 class="contentTitle">The Grounding</h1>  



          <div class="explore">
                        <div class="thumbnailImages">


<div class="thumb" > <img src="/img/exploreWork/grounding/thum-dads-journey.jpeg"  alt="Dad's Journey">
 <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal1">Dad's Journey</div>
 <!-- The Modal -->
 <div id="myModal1" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
       <p><img src="/img/exploreWork/grounding/hi-res/dads-journey.jpg"  alt="Dad's Journey"></p>
     </div>
   </div>
 </div>
 <!-- end Modal -->
  
</div>
              
                
                        <div class="thumb" ><img src="/img/exploreWork/grounding/thum-mothers-friends.jpeg" alt="My Mother's Friends">

                      <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal2">My Mother's Friends</div>
 <!-- The Modal -->
 <div id="myModal2" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
       <p><img src="/img/exploreWork/grounding/hi-res/mothers-friends.jpg"  alt="My Mother's Friends"></p>
     </div>
   </div>
 </div>
 <!-- end Modal -->
     
                    </div>

                                        


                        <div class="thumb"><img src="/img/exploreWork/grounding/thum-sweet-soap.jpeg" alt="Makin' Sweet Soap">
                           <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal3">Makin' Sweet Soap</div>
 <!-- The Modal -->
 <div id="myModal3" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
       <p><img src="/img/exploreWork/grounding/hi-res/sweet-soap.jpg"  alt="Makin' Sweet Soap"></p>
     </div>
   </div>
 </div>
 <!-- end Modal -->
                          
                          
                        </div>
                        <div class="thumb"><img  src="/img/exploreWork/grounding/thum-the-line.jpeg" alt="The Line">
                           <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal4">The Line</div>
 <!-- The Modal -->
 <div id="myModal4" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
       <p><img src="/img/exploreWork/grounding/hi-res/the-line.jpg"  alt="The Line"></p>
     </div>
   </div>
 </div>
 <!-- end Modal -->
                        </div>
          
                        <div class="thumb"> <img src="/img/exploreWork/grounding/thum-my-lord-what-a-morning.jpeg"  alt="My Lord What a Morning">
                           <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal5">My Lord What a Morning</div>
 <!-- The Modal -->
 <div id="myModal5" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
       <p><img src="/img/exploreWork/grounding/hi-res/my-lord.jpg"  alt="My Lord What a Morning"></p>
     </div>
   </div>
 </div>
 <!-- end Modal -->
                          </div>
                          <div class="thumb" ><img src="/img/exploreWork/grounding/thum-gift-of-love.jpeg" alt="Gift of Love">
                              <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal6">Gift of Love</div>
 <!-- The Modal -->
 <div id="myModal6" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
       <p><img src="/img/exploreWork/grounding/hi-res/gift-of-love.jpg"  alt="Gift of Love"></p>
     </div>
   </div>
 </div>
 <!-- end Modal -->
                          </div>
                          <div class="thumb"><img src="/img/exploreWork/grounding/thum-child-of-the-field.jpeg" alt="Child of the Field (Sydney, Age 11)">
                             <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal7">Child of the Field (Sydney, Age 11)</div>
 <!-- The Modal -->
 <div id="myModal7" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
       <p><img src="/img/exploreWork/grounding/hi-res/child-of-the-field.jpg"  alt="Child of the Field (Sydney, Age 11)"></p>
     </div>
   </div>
 </div>
 <!-- end Modal -->
                          </div>
                          <div class="thumb"><img src="/img/exploreWork/grounding/thum-doves-and-pain.jpeg" alt="Doves and Pain are a Life Fulfilled">
                             <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal8">Doves and Pain are a Life Fulfilled</div>
 <!-- The Modal -->
 <div id="myModal8" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
       <p><img src="/img/exploreWork/grounding/hi-res/child-of-the-field.jpg"  alt="Doves and Pain are a Life Fulfilled"></p>
     </div>
   </div>
 </div>
 <!-- end Modal -->
                          </div>
            </div>
            
                  

                    <p> Aminah's "grounding" includes work about her family, her friend and mentor woodcarver
                        Elijah Pierce (1892–1984), and her belief in the power of African-American spirituals which 
                        she represented with depictions of strong and determined women. The magnificent throne-like 
                        chair, Gift of Love (1974–2002), emphasizes the importance of family for Aminah and 
                        demonstrates her skill in manipulating a wide variety of media. This chair, with figures 
                        walking forward while looking backward, personifies the African concept of Sankofa, 
                        the need to understand the past in order to move forward in life.</p>

                            </div>

                </div>

            </section>

            <footer>
              <div class="footerContents">

                  <div class="copyright">Copyright © 2021. All works of art © Aminah Brenda Lynn Robinson.
                  </div>

                  <ul class="footerNav">
                    <li class="footerNavItem">Site created by <a href="https://www.columbusmuseum.org/">Columbus Museum of Art</a></li>
                    <li class="footerNavItem"><a href="/rights-restrictions.html">Rights & Restrictions</a></li>
                    <li class="footerNavItem"><a href="http://database.aminahsworld.org/">Aminah Robinson Database</a></li>
                  </ul>
                  
                </div>  

          </footer>

    </body>
</html>