<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Explore Aminah's Work</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/exploreWork.css">

        <script src="/js/modal.js" type="text/javascript" defer></script>


    </head>
    <body>


      <section id="pageContainer"> 
            
        <div class="sidebarContainer"> 

          <div class="logo"> <a href ="/home"><img src="/img/logo.png" alt="Aminah's World Logo"></a> </div>
            <ul class="mainNav">
                <li class="mainNavItem one"><a href="/artist-bio">Artist Bio & Timeline</a></li>
                <li class="mainNavItem two active"><a href="/explore-work">Explore Aminah's Work</a></li>

                <li class="mainNavItem three"> <a href="/explore-work/see">Where to See Work by Aminah</a>
                </li>
                <li class="mainNavItem four"><a href="/teach">For Teachers & Students</a></li>
            </ul>
  </div>

          
  <div class="contentContainer">  

    <div class="mainNavItem seeWork five">
      <a href="http://database.aminahsworld.org/" target="_blank">Aminah Brenda Lynn Robinson Database</a>
    </div>

          <h1 class="contentTitle">Journeys: Africa | Sapelo | New York | Israel | Chile</h1>                             

          <div class="explore">

            <div class="thumbnailImages">
               
                <div class="thumb" ><img src="/img/exploreWork/journeys/goree-island.jpg" alt="Goree Island (Afrikan Pilgrimage)">
                   <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal1">Goree Island (Afrikan Pilgrimage)</div>
 <!-- The Modal -->
 <div id="myModal1" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
       <p><img src="/img/exploreWork/journeys/hi-res/goree-island.jpg"  alt="Goree Island(Afrikan Pilgrimage)"></p>
     </div>
   </div>
 </div>
 <!-- end Modal -->
                 </div>
                 <div class="thumb"><img src="/img/exploreWork/journeys/orthodox.jpg" alt="Orthodox Jew (Sacred Pages) ">
                   <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal2">Orthodox Jew (Sacred Pages) </div>
 <!-- The Modal -->
 <div id="myModal2" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
       <p><img src="/img/exploreWork/journeys/hi-res/orthodox.jpg"  alt="Orthodox Jew (Sacred Pages) "></p>
     </div>
   </div>
 </div>
 <!-- end Modal -->
                 </div>
                 <div class="thumb" > <img src="/img/exploreWork/journeys/streets-of-dakar.jpg"  alt="Streets of Dakar, Senegal (Afrikan Pilgrimage)">
                    <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal3">Streets of Dakar, Senegal (Afrikan Pilgrimage)</div>
 <!-- The Modal -->
 <div id="myModal3" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
       <p><img src="/img/exploreWork/journeys/hi-res/streets-of-dakar.jpg"  alt="Streets of Dakar, Senegal (Afrikan Pilgrimage)"></p>
     </div>
   </div>
 </div>
 <!-- end Modal -->
     
                   </div>
                 <div class="thumb"><img  src="/img/exploreWork/journeys/yemenite-woman.jpg" alt="Yemenite woman (Sacred Pages)">
                    <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal4"> Yemenite woman (Sacred Pages)</div>
 <!-- The Modal -->
 <div id="myModal4" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
       <p><img src="/img/exploreWork/journeys/hi-res/yemenite-woman.jpg"  alt="Yemenite woman (Sacred Pages)"></p>
     </div>
   </div>
 </div>
 <!-- end Modal -->
                 </div>
   
                 <div class="thumb"> <img src="/img/exploreWork/journeys/125-street.jpg"  alt="Walking up 125th Street">
                   <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal5">Walking up 125th Street</div>
 <!-- The Modal -->
 <div id="myModal5" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
       <p><img src="/img/exploreWork/journeys/hi-res/125-street.jpg"  alt="Walking up 125th Street"></p>
     </div>
   </div>
 </div>
 <!-- end Modal -->
                   </div>
                   <div class="thumb" ><img src="/img/exploreWork/journeys/jerusalem.jpg" alt="Jerusalem, A Walk through Prophet Street">
                      <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal6">Jerusalem, A Walk through Prophet Street</div>
 <!-- The Modal -->
 <div id="myModal6" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
       <img src="/img/exploreWork/journeys/hi-res/jerusalem.jpg"  alt="Jerusalem, A Walk through Prophet Street">
     </div>
   </div>
 </div>
 <!-- end Modal -->
                   </div>
                   <div class="thumb"><img src="/img/exploreWork/journeys/basket-woman.jpg" alt="Sapelo, Basket Woman">
                      <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal7">Sapelo, Basket Woman</div>
 <!-- The Modal -->
 <div id="myModal7" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
       <img src="/img/exploreWork/journeys/hi-res/basket-woman.jpg"  alt="Sapelo, Basket Woman">
     </div>
   </div>
 </div>
 <!-- end Modal -->
                   </div>
                   <div class="thumb"><img src="/img/exploreWork/journeys/beach.jpg" alt="Chile, Rocks Dance in the Light">
                      <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal8">Chile, Rocks Dance in the Light </div>
 <!-- The Modal -->
 <div id="myModal8" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
       <img src="/img/exploreWork/journeys/hi-res/basket-woman.jpg"  alt="Chile, Rocks Dance in the Light">
     </div>
   </div>
 </div>
 <!-- end Modal -->
                   </div>
     
               </div>
             
                         <div>
                            <p>When she traveled to new places, Aminah immersed herself 
                                in the life of the people she found there. These journeys include 
                                a six-week trip to Africa in 1979; several trips to Sapelo Island, Georgia, 
                                where her ancestors had been enslaved; a six-month residency at P.S. 1 in New York City in 1989, 
                                and Ohio Arts Council residencies in Israel in 1998 and Chile in 2004.</p>
                      

                            </div>

                </div>
                </div>

            </section>

            <footer>
              <div class="footerContents">

                  <div class="copyright">Copyright © 2021. All works of art © Aminah Brenda Lynn Robinson.
                  </div>

                  <ul class="footerNav">
                    <li class="footerNavItem">Site created by <a href="https://www.columbusmuseum.org/">Columbus Museum of Art</a></li>
                    <li class="footerNavItem"><a href="/rights-restrictions.html">Rights & Restrictions</a></li>
                    <li class="footerNavItem"><a href="http://database.aminahsworld.org/">Aminah Robinson Database</a></li>
                  </ul>
                  
                </div>  

          </footer>

    </body>
</html>