<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Explore Aminah's Work</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/exploreWork.css">

        <script src="/js/modal.js" type="text/javascript" defer></script>


    </head>
    <body>


      <section id="pageContainer"> 
            
        <div class="sidebarContainer"> 

          <div class="logo"> <a href ="/home"><img src="/img/logo.png" alt="Aminah's World Logo"></a> </div>
            <ul class="mainNav">
                <li class="mainNavItem one"><a href="/artist-bio">Artist Bio & Timeline</a></li>
                <li class="mainNavItem two active"><a href="/explore-work">Explore Aminah's Work</a></li>

                <li class="mainNavItem three"> <a href="/explore-work/see">Where to See Work by Aminah</a>
                </li>
                <li class="mainNavItem four"><a href="/teach">For Teachers & Students</a></li>
            </ul>
  </div>

          
  <div class="contentContainer">  

    <div class="mainNavItem seeWork five">
      <a href="http://database.aminahsworld.org/" target="_blank">Aminah Brenda Lynn Robinson Database</a>
    </div>

          <h1 class="contentTitle">Neighborhoods and Pages in History</h1>    

          <div class="explore">

                      <div class="thumbnailImages">
               
                          <div class="thumb" ><img src="/img/exploreWork/neighborhoods/mt-vernon.jpg" alt="Mt. Vernon's Memory Map">
                              <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal1">Mt. Vernon's Memory Map</div>
 <!-- The Modal -->
 <div id="myModal1" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
       <p><img src="/img/exploreWork/neighborhoods/hi-res/mt-vernon.jpg"  alt="Mt. Vernon's Memory Map"></p>
     </div>
   </div>
 </div>
 <!-- end Modal -->
                           </div>
                           <div class="thumb"><img src="/img/exploreWork/neighborhoods/life-in-sellsville.jpg" alt="Life in Sellsville">
                              <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal2">Life in Sellsville</div>
 <!-- The Modal -->
 <div id="myModal2" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
       <p><img src="/img/exploreWork/neighborhoods/hi-res/life-in-sellsville.jpg"  alt="Life in Sellsville"></p>
     </div>
   </div>
 </div>
 <!-- end Modal -->
                           </div>
                           <div class="thumb" > <img src="/img/exploreWork/neighborhoods/poindexter-quilt.jpg"  alt="Poindexter Village Quilt">
                              <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal3">Poindexter Village Quilt</div>
 <!-- The Modal -->
 <div id="myModal3" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
       <p><img src="/img/exploreWork/neighborhoods/hi-res/life-in-sellsville.jpg"  alt="Poindexter Village Quilt"></p>
     </div>
   </div>
 </div>
 <!-- end Modal -->
               
                             </div>
                           <div class="thumb"><img  src="/img/exploreWork/neighborhoods/poindexter-first-families.jpg" alt="Poindexter Village - First Families">
                              <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal4">Poindexter Village - First Families</div>
 <!-- The Modal -->
 <div id="myModal4" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
       <p><img src="/img/exploreWork/neighborhoods/hi-res/first-families.jpg"  alt="Poindexter Village - First Families"></p>
     </div>
   </div>
 </div>
 <!-- end Modal -->
               
                           </div>
             
                           <div class="thumb"> <img src="/img/exploreWork/neighborhoods/one-day.jpeg"  alt="One Day in 1307 A.D.; King Abubakari II">
                               <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal5">One Day in 1307 A.D.; King Abubakari II</div>
 <!-- The Modal -->
 <div id="myModal5" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
       <p><img src="/img/exploreWork/neighborhoods/hi-res/one-day.jpg"  alt="One Day in 1307 A.D.; King Abubakari II"></p>
     </div>
   </div>
 </div>
 <!-- end Modal -->
                             </div>
                             <div class="thumb" ><img src="/img/exploreWork/neighborhoods/john-t-ward.jpg" alt="John T. Ward Transporting Fugitive Slaves in Columbus, Ohio, 1800s">
                                <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal6">John T. Ward Transporting Fugitive Slaves in Columbus, Ohio, 1800s</div>
 <!-- The Modal -->
 <div id="myModal6" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
       <p><img src="/img/exploreWork/neighborhoods/hi-res/john-t-ward.jpg"  alt="John T. Ward Transporting Fugitive Slaves in Columbus, Ohio, 1800s"></p>
     </div>
   </div>
 </div>
 <!-- end Modal -->
                             </div>
                             <div class="thumb"><img src="/img/exploreWork/neighborhoods/sojourner-truth.jpg" alt="Unwritten Love Letter: Sojouner Truth">
                                 <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal7">Unwritten Love Letter: Sojouner Truth</div>
 <!-- The Modal -->
 <div id="myModal7" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
       <p><img src="/img/exploreWork/neighborhoods/hi-res/sojourner-truth.jpg"  alt="Unwritten Love Letter: Sojouner Truth"></p>
     </div>
   </div>
 </div>
 <!-- end Modal -->
                             </div>
                             <div class="thumb"><img src="/img/exploreWork/neighborhoods/water-st.jpg" alt="Life Along Water Street">
                                 <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal8">Life Along Water Street</div>
 <!-- The Modal -->
 <div id="myModal8" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
       <p><img src="/img/exploreWork/neighborhoods/hi-res/water-st.jpg"  alt="Life Along Water Street"></p>
     </div>
   </div>
 </div>
 <!-- end Modal -->
                             </div>
               
               
                         </div>
             
                         <div>
             <p> Aminah was devoted to documenting neighborhoods that still exist and also 
                 those that have disappeared. While she based this work on particular, historic 
                 details related to each of these actual places, the theme that emerges is global: the 
                 importance of family and community wherever and whenever they occur in the world. In 1981, 
                 Aminah began Pages in History, an extensive collection of sculptures, works on paper, 
                 and cloth paintings that record figures and events, both celebrated and obscure, from 
                 African-American history.</p>
                      

                            </div>

                </div>
                </div>

            </section>

            <footer>
              <div class="footerContents">

                  <div class="copyright">Copyright © 2021. All works of art © Aminah Brenda Lynn Robinson.
                  </div>

                  <ul class="footerNav">
                    <li class="footerNavItem">Site created by <a href="https://www.columbusmuseum.org/">Columbus Museum of Art</a></li>
                    <li class="footerNavItem"><a href="/rights-restrictions.html">Rights & Restrictions</a></li>
                    <li class="footerNavItem"><a href="http://database.aminahsworld.org/">Aminah Robinson Database</a></li>
                  </ul>
                  
                </div>  

          </footer>

    </body>
</html>