<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Explore Aminah's Work</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/exploreWork.css">

    </head>
    <body>


      <section id="pageContainer"> 
            
        <div class="sidebarContainer"> 

          <div class="logo"> <a href ="/home"><img src="/img/logo.png" alt="Aminah's World Logo"></a> </div>
            <ul class="mainNav">
                <li class="mainNavItem one"><a href="/artist-bio">Artist Bio & Timeline</a></li>
                <li class="mainNavItem two"><a href="/explore-work">Explore Aminah's Work</a></li>

                <li class="mainNavItem three  active"> <a href="/explore-work/see">Where to See Work by Aminah</a>
                </li>
                <li class="mainNavItem four"><a href="/teach">For Teachers & Students</a></li>
            </ul>
  </div>

          
  <div class="contentContainer">  

    <div class="mainNavItem seeWork five">
      <a href="http://database.aminahsworld.org/" target="_blank">Aminah Brenda Lynn Robinson Database</a>
    </div>

          <div class="explore">
            <h1 class="contentTitle">Ongoing Collections/Exhibitions</h1>                             


            <div>
                <p><strong>ACA Galleries</strong><br>
                    529 West 20th Street, 5th Floor<br>
                    New York, NY 10011<br>
                    Tel: 212-206-8080<br>
                    <a href="http://www.acagalleries.com" title="ACA Galleries Homepage">http://www.acagalleries.com</a><br>
                    This gallery represents Aminah and sells her work.</p>
                    
                    <p><strong>Baker University Center</strong><br>
                    Ohio University<br>
                    One Park Place, Athens, OH 45701<br>
                    Tel: 740-593-4020 | Fax: 740-593-0223<br>
                    <a href="http://www.ohio.edu/center" target="_blank">http://www.ohio.edu/center</a><br>
                    Aminah's <em>Characters of Poindexter Village</em> are embedded in the terrazzo floor of the first-floor entrance of the Baker Center, the student union which was dedicated in 2007. </p>
    
                    <p><strong>Columbus Metropolitan Library</strong><br>
                    96 S. Grant Avenue<br>
                    Columbus, OH 43215<br>
                    (614)645-2275<br>
                    <a href="http://www.columbuslibrary.org/" title="Columbus Metropolitan Library Homepage">http://www.columbuslibrary.org/</a> <br>
                    Aminah's 1990 commission is located on the library's grand staircase. More of her work is on view in the history department. </p>
    
                    <p><strong>Columbus Museum of Art</strong><br>
                    480 E. Broad Street<br>
                    Columbus, OH 43215<br>
                    614-221-6801<br>
                    <a href="http://www.columbusmuseum.org/" title="Columbus Museum of Art">http://www.columbusmuseum.org/</a><br>
                    The artist's work is often on view in both the Museum's permanent collections and special exhibitions. </p>
    
                    <p><strong>Fisher College of Business</strong><br>
                    2100 Neil Avenue<br>
                    Columbus, OH 43210<br>
                    Aminah's cloth painting <em>15th and High</em> is located in the business school at the Ohio State University. </p>
                    
                    <p><strong>Hammond Harkins Gallery</strong><br>
                    2264 E. Main Street<br>
                    Bexley, OH 43209<br>
                    614-238-3000<br>
                    <a href="http://www.hammondharkins.com/" title="Hammond Harkins Galleries Ltd.">http://www.hammondharkins.com/</a><br>
                    This gallery represents Aminah and sells her work. </p>

                    <p><strong>King Arts Complex</strong><br>
                        867 Mt. Vernon Avenue<br>
                        Columbus, OH 43203 <br>
                        614.421.6365<br>
                        Mon-Fri, 8 am&ndash;4:30 pm<br>
                        <em>The Life and Times of Rev. James Preston Poindexter</em> and <em>President Roosevelt in Poindexter Village</em>, both paintings on cloth, are on view.
    
    </p>
    
                    <p><strong>National Underground Railroad Freedom Center</strong><br>
                    50 East Freedom Way <br>
                    Cincinnati, OH 45202 <br>
                    513.333.7500 or 877.648.4838<br>
                    <a href="http://www.freedomcenter.org" title="National Underground Railroad Freedom Center - Cincinnati, Ohio">www.freedomcenter.org </a><br>
                    <em>Journeys</em>, two monumental RagGonNons, were commissioned by the Freedom Center and hang in its multistory, second-floor exhibition space. </p>
                    
                    
</div>

                            </div>

                </div>

            </section>

            <footer>
              <div class="footerContents">

                  <div class="copyright">Copyright © 2021. All works of art © Aminah Brenda Lynn Robinson.
                  </div>

                  <ul class="footerNav">
                    <li class="footerNavItem">Site created by <a href="https://www.columbusmuseum.org/">Columbus Museum of Art</a></li>
                    <li class="footerNavItem"><a href="/rights-restrictions.html">Rights & Restrictions</a></li>
                    <li class="footerNavItem"><a href="http://database.aminahsworld.org/">Aminah Robinson Database</a></li>
                  </ul>
                  
                </div>  

          </footer>

    </body>
</html>