<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Explore Aminah's Work</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/exploreWork.css">


        <script src="/js/modal.js" type="text/javascript" defer></script>


    </head>
    <body>


      <section id="pageContainer"> 
            
        <div class="sidebarContainer"> 

          <div class="logo"> <a href ="/home"><img src="/img/logo.png" alt="Aminah's World Logo"></a> </div>
            <ul class="mainNav">
                <li class="mainNavItem one"><a href="/artist-bio">Artist Bio & Timeline</a></li>
                <li class="mainNavItem two active"><a href="/explore-work">Explore Aminah's Work</a></li>

                <li class="mainNavItem three"> <a href="/explore-work/see">Where to See Work by Aminah</a>
                </li>
                <li class="mainNavItem four"><a href="/teach">For Teachers & Students</a></li>
            </ul>
  </div>

          
  <div class="contentContainer">  

    <div class="mainNavItem seeWork five">
      <a href="http://database.aminahsworld.org/" target="_blank">Aminah Brenda Lynn Robinson Database</a>
    </div>

          <h1 class="contentTitle">The Book</h1>                             

          <div class="explore">

                         <div>
                            <p> Among Aminah's earliest childhood memories were the many occasions 
                                on which she and her father made books with whatever materials were available. 
                                As a young child, she was never without her sketchbook and by the time she began 
                                art school, she was already combining text with visual images. Here are some of 
                                her one-of-kind journals and limited edition and commercially published books.</p>

                            </div>
                            <div class="thumbnailImages-book">
               
                                <div class="thumb" > <img src="/img/exploreWork/book/thum-published.jpeg"  alt="Published Work">
                            <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal1">Published</div>
 <!-- The Modal -->
 <div id="myModal1" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
      <h3>Books By and About Aminah</h3>
      <p class="book"><img src="/img/exploreWork/book/aminahs-world.jpg" width="150" height="199" alt="Aminah’s World" 
        class="book"><em><strong>Aminah’s World: An activity book and children’s guide about artist Aminah Brenda Lynn Robinson </strong></em> 
        (2017, Columbus Museum of Art) by Carole Miller Genshaft
    </p> 

    <p class="book"><img src="/img/exploreWork/book/raggin-on.jpg" width="200" height="146" alt="Raggin’ On" 
      class="book"><em><strong>Raggin’ On: The Art of Aminah Brenda Lynn Robinson’s House and Journals
      </strong></em> 
      (2020, Columbus Museum of Art); Carole M. Genshaft, Ed. This book accompanied the exhibition of the same name co-curated by Carole Genshaft and Deidre Hamlar at the Columbus Museum of Art, November 18, 2020 – October 3, 2021
    </p>  

    <p class="book"><img src="/img/exploreWork/book/symphonic.jpg" 
      width="200" height="146" alt="Symphonic" class="book"><em><strong>Symphonic Poem: 
        The Art of Aminah Brenda Lynn Robinson</strong></em> (2002), Columbus Museum 
        of Art in association with Harry N. Abrams, Inc., Publishers. Published 
        in conjunction with the retrospective exhibition of the same title, organized 
        by the Columbus Museum of Art, and curated by Carole Miller Genshaft and Annegreth 
        Taylor Nill, December 13, 2002 – April 20, 2003. The exhibition traveled to the 
        Brooklyn Museum of Art (February 23 – August 13, 2006), Tacoma Art Museum 
        (September 16, 2006 – January 28, 2007), and the Toledo Museum of Art 
        (February 23 – May 22, 2007).
      </p> 
      <p class="book"><img src="/img/exploreWork/book/elijahsAngel.jpg" width="200" height="153" alt="ElijahsAngel" class="book"><em><strong>Elijah's Angel: A Story for Chanukah and Christmas</strong></em> (1992), Harcourt Brace & Company, written by Michael J. Rosen and illustrated by Aminah Brenda Lynn Robinson. An award winning story of religious tolerance about woodcarver Elijah Pierce and his young Jewish friend. </p>
    <p class="book"><img src="/img/exploreWork/book/sophie.jpg" width="150" height="199" alt="Sophie" class="book"><em><strong>Sophie</strong></em> (1994), Harcourt Brace &amp; Company, written by Mem Fox and illustrated by Aminah Brenda Lynn Robinson. An award-winning, story of the loving relationship of a grandfather and his granddaughter and their understanding of the cycle of life.  </p>
    <p class="book"><img src="/img/exploreWork/book/theTeachings.jpg" width="150" height="189" alt="TheTeachings" class="book"><em><strong>The Teachings</strong></em>, (1992), Harcourt, Brace, Jovanovich, Publishers, written and illustrated by Aminah Brenda Lynn Robinson.  Interweaving text and drawings, Aminah Robinson brings to life 26 African-American spirituals that have inspired her since she was a little girl. </p>
    <p class="book"><img src="/img/exploreWork/book/pompyWalker.jpg" width="150" height="194" alt="PompyWalker" class="book"><em><strong>A School for Pompey Walker</strong></em> (1995), Harcourt Brace & Company, written by Michael J. Rosen and illustrated by Aminah Brenda Lynn Robinson. This inspiring story based in fact relates the efforts of a freed slave and his white friend to build a school for black children in the 1800s.</p>
    <p class="book"><img src="/img/exploreWork/book/shakingBag.jpg" width="150" height="189" alt="ShakingBag" class="book"><em><strong>The Shaking Bag </strong></em>(2000), Albert Whitman & Company, written by Gwendolyn Battle-Lavert and illustrated by Aminah Brenda Lynn Robinson. This folktale tells the story of an elderly southern woman whose kindness and generosity is magically rewarded.</p>
    <p class="book"><img src="/img/exploreWork/book/tobeadrum.jpg" width="150" height="200" alt="Tobeadrum" class="book"><em><strong>To Be A Drum</strong></em> (1998), Albert Whitman & Company, written by Evelyn Coleman and illustrated by Aminah Brenda Lynn Robinson. Throughout this beautifully illustrated story of African-American history, a father teaches his two young children to listen for the drumbeat that reflects the rhythm of the earth and the heartbeat of its people.</p>
    
    
    <p class="book" >
      <img src="/img/exploreWork/book/street-home.jpg" 
      width="150" height="178" alt="Street Home" class="book"><em><strong>A Street 
        Called Home</strong></em> (1997), Harcourt Brace & Company 
        and republished and distributed by the Columbus Museum of Art. 
        Written and illustrated by Aminah Brenda Lynn Robinson. 
        This accordion book with flaps tells about the bustling 
        neighborhood of Mt. Vernon Avenue in Columbus, Ohio, 
        and the people who lived and worked there during the 1940s and 1950s.</p>
      

     </div>
   </div>
 </div>
 <!-- end Modal -->
                                
                                </div>

                                <div class="thumb" ><img src="/img/exploreWork/book/thum-journals.jpeg" alt="">
                             <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal2">Journals</div>
 <!-- The Modal -->
 <div id="myModal2" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
      <p class="journal"><img src="/img/exploreWork/book/journal-africa.jpeg" 
        alt="Symphonic" class="book">
        <img src="/img/exploreWork/book/journal-israel.jpeg" 
        alt="Symphonic" class="book">
        Throughout her life, Aminah has recorded her ideas and experiences in journals, 
        notebooks, and sketchpads. When she traveled, a journal was her constant 
        companion.</p>  
     </div>
   </div>
 </div>
 <!-- end Modal -->
                                    
                                </div>



                                <div><img class="thumb" src="/img/exploreWork/book/thum-limited.jpeg" alt="">
                                 <!-- Trigger/Open The Modal -->
 <div class="modal-open imgTitle" href="#myModal3">Limited Edition</div>
 <!-- The Modal -->
 <div id="myModal3" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
       <span class="close">×</span>
     <div class="modal-body">
      <p class="book"><img src="/img/exploreWork/book/journal-limited.jpeg" 
        alt="Symphonic" class="book">
        Printmaking has always been a special interest for Aminah. At least once 
        a year, she creates a book of woodcuts that are usually printed in
         New York by her friend Kelly Driscoll. The two women met when both 
         were working at The Printmaking Workshop in New York in 1989. 
         In this excerpt from The Sidewalks of Market Street, 2000, 
         Aminah lovingly illustrates the colorful stories her Uncle 
         Alvin told about the people who lived and worked in the Mt. 
         Vernon neighborhood on the eastside of Columbus in the first half of the twentieth century.
</p>  
     </div>
   </div>
 </div>
 <!-- end Modal -->
                                </div>
                  
                  
                                  </div>

                </div>
                </div>

            </section>

            <footer>
              <div class="footerContents">

                  <div class="copyright">Copyright © 2021. All works of art © Aminah Brenda Lynn Robinson.
                  </div>

                  <ul class="footerNav">
                    <li class="footerNavItem">Site created by <a href="https://www.columbusmuseum.org/">Columbus Museum of Art</a></li>
                    <li class="footerNavItem"><a href="/rights-restrictions.html">Rights & Restrictions</a></li>
                    <li class="footerNavItem"><a href="http://database.aminahsworld.org/">Aminah Robinson Database</a></li>
                  </ul>
                  
                </div>  

          </footer>

    </body>
</html>