body{
    background-attachment: fixed;
    background-image: url(../img/bg-exploreWork.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

 .explore{
    height: 55vh;
     overflow-x: hidden;
     overflow-y: scroll;
    width: 80%;
}

.understand{
    margin-top: 2rem;
}

.understandImg{
    width: 100%;
}

.thumbnailImages-book{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

p.book {
    border-top:solid 1px #333;
    clear:left;
    margin-top:15px;
    padding:20px 0 20px 0;
}
p.book img{
	float:left;
	margin:0 30px 20px 0;
}
.book-sections .section {
    display:inline;
    float:left;
    margin:10px;
	text-align:center;
}

p.journal {
    margin-top:15px;
}
