body{
    background-attachment: fixed;
    background-image: url(../img/bg-home.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

 .home{
    height: 55vh;
    overflow-x: hidden;
     overflow-y: scroll;
    width: 80%;
}

.smallBody{
    font-size: .8rem;
    margin: 0;
}
 
 .museumInfo{
     float: right;
     margin: .5rem 2rem;
 }
 
 .cmaWebLink{
     background-color: #6a7929;
     border: solid;
     border-radius: 20% 31% 45% 30%;
     border-width: .001rem .0125rem;
     font-family: 'Neucha';
     font-size: .9rem;
     margin-top: .5rem;
     padding: .5rem 1rem;
     text-align: center;
     white-space: nowrap;
 }
 .cmaWebLink :hover{
    color: #c9da2a;
 }
