body{
    background-image: url(../img/bg-rights.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.rights{
    height: 55vh;
    overflow: scroll;
    padding-top: 4rem;
    width: 60%;
}