<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Artist Bio & Timline</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/artistBio.css">

        <script src="/js/modal.js" type="text/javascript" defer></script>


    </head>
    <body>

      <div class="headerTimeline"> 
        <div class="headerContent"> 
        <div class="contentLeft">
          <h1 class="contentTitle">Timeline</h1>      
          <p class="dates">clickable dates will go here</p>
       </div>
       <div class="contentRight"> 
            <div class="mainNavItem seeWork">
  <a href="http://database.aminahsworld.org/" target="_blank">Aminah Brenda Lynn Robinson Database</a>
</div> 
       </div>
      </div>

      </div>

        <section id="pageContainerTimeline"> 

            
          <div class="sidebarContainerTimeline"> 


          <div class="logo"> <a href ="/home"><img src="/img/logo.png" alt="Aminah's World Logo"></a> </div>
              <ul class="mainNav">
                  <li class="mainNavItem one  active"><a href="/artist-bio">Artist Bio & Timeline</a></li>
                  <li class="mainNavItem two"><a href="/explore-work">Explore Aminah's Work</a></li>

                  <li class="mainNavItem three"> <a href="/explore-work/see">Where to See Work by Aminah</a>
                  </li>
                  <li class="mainNavItem four"><a href="/teach">For Teachers & Students</a></li>
              </ul>
  </div>


          

    <div class="contentContainerTimeline">  


    <div class="timeline">

      <div class="bio">

        <p> Brenda Lynn Robinson was born in Columbus in 1940. During a visit to Africa in 1979, 
          an Egyptian holy man gave her the name “Aminah” which she legally affixed to her given names. 
          For almost seven decades, she created art that she described as “filling in the blank pages 
          of American history.” She did this by depicting the lives and events of both ordinary and 
          extraordinary African Americans.</p>

          <p>Aminah, as she preferred to be called, spent the first 17 years of her life 
          in Poindexter Village, one of the country’s first federal apartment complexes 
          for African Americans. In 1974, she moved to Sunbury Road on the eastside of 
          Columbus where she remained until she passed away in 2015. She left almost 
          her entire estate to the Columbus Museum of Art. The home studio was 
          renovated and is now a residence for African American artists and writers 
          and a daily workspace for local artists. (For more information, 
          visit www.gcac.org/grants-services/individual-artist-fellowships) </p>

               


<!-- Trigger/Open The Modal -->
<div class="modal-open" href="#myModal1">Read More</div>
<!-- The Modal -->
<div id="myModal1" class="modal">
<!-- Modal content -->
<div class="modal-content">
   <span class="close">×</span>
 <div class="modal-body">
   <p>When Aminah was a little girl, her father taught her how to draw and how to make books from 
     homemade paper and "hogmawg," a mixture of mud, clay, twigs, leaves, lime, animal grease, 
     and glue. The artist used hogmawg in both two-dimensional and three-dimensional work. Her mother taught 
     her weaving, needlework, and button work.</p>

     <p>From a very young age, she knew she wanted to be an artist and began attending 
    the Columbus Art School (now the Columbus College of Art and Design) on Saturdays 
    while she was still in high school and then continued after she graduated from high school.</p>

    <p>Aminah created sculpture, RagGonNons, rag paintings, paintings on cloth, drawings, and books. 
    Many of them are about her family and community and about the stories she has been told by her elders. 
    She also researched the lives of abolitionists, civil rights leaders, musicians, and writers and depicts them in her art.</p>

    <p>Her art is grounded in her belief in the African concept of Sankofa, learning from the past 
    in order to move forward. She has taken extended journeys to various countries in Africa; 
    New York City; Sapelo Island, Georgia; Israel; and Chile. Each journey has resulted in a 
    series of art that often includes a RagGonNon, a large and complex work of art that is 
    often on cloth encrusted with buttons, beads, and other found objects.</p>

    <p>The artist has had her work exhibited in museums and galleries throughout the United 
    States and she has received numerous awards and grants from arts organizations. In 2002, 
    the Columbus Museum of Art organized a retrospective exhibition of her work that traveled 
    throughout the country. In 2004, Aminah was awarded a MacArthur Fellowship which is given 
    to "talented individuals who have shown extraordinary originality and dedication in their creative 
    pursuits and a marked capacity for self-direction."</p>

    <p>Her work is in many private collections and in many museums including the Columbus Museum of Art, 
    the Cincinnati Art Museum, the Brooklyn Museum of Art, the Tacoma Art Museum and the Newark Museum.</p>
 </div>
</div>
</div>
<!-- end Modal -->

<!-- <img src="/img/horz-line.png" alt=""> -->


                        </div>

                        <!-- end bio -->

                       <div class="years">

                        <div class="1940">
                         <h2 class="date">1940</h2>
                         <p> Brenda Lynn Robinson is born in Columbus, Ohio.</p>
                         <p> Family moves to Poindexter Village, Columbus, one of the nation's 
                          early federally funded apartment complexes.</p>
                        </div>

                        <div class="1950">
                            <h2 class="date"> 1957</h2>
                          <p> Graduates from East High School, Columbus.
                          </p>
                          <p>Enters Columbus Art School (now Columbus College of Art and Design).
                          </p>
                         </div>

                         <div class="1960">

                        <div>
                            <h2 class="date"> 1963</h2>
                          <p> Participates in The March on Washington.
                          </p>
                         </div>

                        <div>
                            <h2 class="date"> 1964</h2>
                          <p>Marries Clarence Robinson who is in the U.S. Air Force and moves with him 
                            to a military base in Boise, Idaho.
                          </p>
                          </div>

                          <div>
                              <h2 class="date"> 1967</h2>
                            <p>Sydney Edward Robinson is born in Biloxi, Mississippi.
                            </p>
                            </div>

                            <div>
                                <h2 class="date"> 1968</h2>
                              <p>Meets Columbus woodcarver Elijah Pierce.
                              </p>
                              </div>


                          </div>

                          <div class="1970">
                            <div>
                                <h2 class="date">1971</h2>
                            <p> Separates from Clarence and returns to Columbus with Sydney.</p>
                          </div>

                          <div>
                              <h2 class="date">1972</h2>
                            <p> Begins 19-year career with Columbus Recreation and Parks.</p>
                          </div>

                          <div>
                              <h2 class="date">1974</h2>
                            <p> Buys house in Columbus and moves there with Sydney</p>
                          </div>
                         
                           </div>

                           <div class="1980">
                            <div>
                                <h2 class="date">1983</h2>
                            <p> Visits Sapelo Island, Georgia, where her ancestors were slaves before and during the Civil War.</p> 

                              <p>First group exhibition at the Carl Solway Gallery, Cincinnati, Ohio.</p>
                          </div>

                          <div>
                              <h2 class="date">1989</h2>
                            <p> Receives Governor's Award for the Visual Arts from the Ohio Arts Council.</p>

                              <p> Receives a grant from the Ohio Arts Council for a residency at PS 1 in Queens, New York.</p>
                              
                                <p>Receives a Minority Artist Fellowship from the National Endowment for the Arts to work with Robert 
                              Blackburn at the Printmaking Workshop in New York City.</p>
                            
                              <p>Group exhibition- Stitching Memories: African-American Story Quilts, Williams College, 
                              Studio Museum of Harlem, Oakland Museum, and others</p>
                          </div>
                          </div>

                          <div class="1990">


                          <div>
                              <h2 class="date">1990</h2>
                            <p> Columbus Metropolitan Library commission</p>
                          </div>

                          <div>
                              <h2 class="date">1992</h2>
                            <p>Group exhibition, Will/Power at the Wexner Center for the Arts, The Ohio State University.
                            </p>
                            <p>Writes and illustrates The Teachings, published by Harcourt Brace Jovanovich.
                            </p>
                          </div>

                          <div>
                              <h2 class="date">1994</h2>
                            <p> Aminah's son Sydney dies.</p>
                          </div>

                          <div>
                              <h2 class="date">1997</h2>
                            <p> First exhibition at Hammond Harkins Gallery, Columbus.</p>
                          </div>

                          <div>
                              <h2 class="date">1998</h2>
                            <p>  Ohio Arts Council residency in Herzilya, Israel.
                            </p>
                          </div>
                </div>

                <div class="2000">
                  <div>
                      <h2 class="date">2002</h2>
                  <p>Symphonic Poem, retrospective exhibition at the Columbus Museum of Art.
                   </p> 

                    <p> Receives an honorary doctor of fine arts degree from Ohio Dominican University.</p>
                </div>

                <div>
                    <h2 class="date">2003</h2>
                  <p> 2003 National Underground Railroad Freedom Center commission, Cincinnati.</p>
                </div>

                <div>
                    <h2 class="date">2004</h2>

                  <p> Travels to Chile supported by an Ohio Arts Council Grant; solo exhibition 
                    at the National Museum of Fine Arts, Santiago
                  </p>

                  <p> Solo exhibition at the National Museum of Fine Arts, Santiago, Chile.</p>

                  <p> MacArthur award</p>
                </div>

                <div>
                    <h2 class="date">2005</h2>
                  <p> Travels to Italy and visits Rome. Florence, Padua, Vinci, Venice, and Lucca</p>

                </div>

                <div>
                    <h2 class="date">2006</h2>
                  <p> Symphonic Poem travels to Brooklyn Art Museum, Tacoma Art Museum, and Toledo Museum of Art.</p>

                  <p>Travels to Peru
                  </p>

                </div>

                <div>
                    <h2 class="date">2007</h2>
                  <p> Ohio University Baker Center commission.</p>

                </div>

                <div>
                    <h2 class="date">2010</h2>
                  <p>  Feb. 6 – March 20  Two Black Women: Faith Ringgold and Aminah Brenda Lynn Robinson,
                     ACA Galleries, New York City</p>

                     <p>Nov. 19 - April 10, 2011   Aminah Robinson: Voices that Taught Me to Sing, Toledo Museum of Art</p>
                </div>

                <div>
                    <h2 class="date">2012</h2>
                  <p>  Inducted into the City of Columbus Hall of Fame</p>
                 
                </div>

                <div>
                    <h2 class="date">2015</h2>
                  <p>Interview with Denny Griffin, retired President, Columbus College of Art and Design at 
                    the Metropolitan Club, Columbus</p>

                    <p>Aminah at 75, Hammond Harkins Galleries, Columbus, Ohio</p>

                    <p> May 22, Aminah dies of heart failure; leaves her estate to  
                      Columbus Museum of Art; memorial is held at Columbus Museum of Art on July 18</p>
                </div>

                <div>
                    <h2 class="date">2016</h2>
                  <p>Robinson’s Presidential Suite at Columbus Museum of Art and Hammond Harkins</p>
                </div>

                <div>
                    <h2 class="date">2018</h2>
                  <p>Aminah’s World, an activity book and children’s guide by Carole M. Genshaft, 
                    published by Columbus Museum of Art</p>

                    <p>April 18 – August 25  Kindred Spirits: The Art of Elijah Pierce and 
                      Aminah Brenda Lynn Robinson, Columbus Museum of Art</p>
                </div>

                <div>
                    <h2 class="date">2019</h2>
                  <p>Renovation of Robinson’s home studio  is completed with support of the Columbus Foundation</p>
                  <p>Establishment of the Aminah Brenda Lynn Robinson Residency and Fellowship in 
                    collaboration with the Greater Columbus Arts Council</p>
                </div>

                <div>
                    <h2 class="date">2019</h2>
                  <p>Renovation of Robinson’s home studio  is completed with support of the Columbus Foundation</p>
                  <p>Establishment of the Aminah Brenda Lynn Robinson Residency and Fellowship in 
                    collaboration with the Greater Columbus Arts Council</p>
                </div>

                <div>
                    <h2 class="date">2020</h2>
                  <p>Columbus artist DonCee Coulter is first Aminah Robinson Fellow</p>
                  <p>Nov. 18 – October 3, 2021   Raggin’ On: The Art of Aminah Brenda Lynn Robinson’s 
                    House and Journals, Columbus Museum of Art with accompanying book</p>
                </div>

                <div>
                    <h2 class="date">2021</h2>
                  <p>May- August   Johnathan Payne is inaugural recipient of Aminah Robinson Residency</p>
                  <p> Sept.- Nov.   Columbus artist Wendy Kendrick is Aminah Robinson Fellow</p>
                </div>

                </div>
                         </div>
                      </div>
                      </div>


      </section>

      <footer>
        <div class="footerContents">

            <div class="copyright">Copyright © 2021. All works of art © Aminah Brenda Lynn Robinson.
            </div>

            <ul class="footerNav">
              <li class="footerNavItem">Site created by <a href="https://www.columbusmuseum.org/">Columbus Museum of Art</a></li>
              <li class="footerNavItem"><a href="/rights-restrictions">Rights & Restrictions</a></li>
              <li class="footerNavItem"><a href="http://database.aminahsworld.org/">Aminah Robinson Database</a></li>
            </ul>
            
          </div>  

    </footer>
     

           
    </body>
</html>