<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Explore Aminah's Work</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/home.css">

    </head>
    <body>


      <section id="pageContainer"> 
            
              <div class="sidebarContainer"> 

                <div class="logo"> <a href ="/home"><img src="/img/logo.png" alt="Aminah's World Logo"></a> </div>
                <ul class="mainNav">
                  <li class="mainNavItem one"><a href="/artist-bio">Artist Bio & Timeline</a></li>
                  <li class="mainNavItem two "><a href="/explore-work">Explore Aminah's Work</a></li>

                  <li class="mainNavItem three"> <a href="/explore-work/see">Where to See Work by Aminah</a>
                  </li>
                  <li class="mainNavItem four"><a href="/teach">For Teachers & Students</a></li>
                </ul>
        </div>

                
        <div class="contentContainer">  

          <div class="mainNavItem seeWork five">
            <a href="http://database.aminahsworld.org/" target="_blank">Aminah Brenda Lynn Robinson Database </a>
          </div>

          <div class="home">

            <h1 class="contentTitle">Aminah Brenda Lynn Robinson</h1>    

            <p> Combining traditional art materials with found objects and 
              everyday materials such as buttons, cloth, leather, twigs, shells, 
              and music box workings, Columbus, Ohio, artist Aminah Brenda Lynn Robinson 
              (1940-2015) created magical two- and three-dimensional works of art. 
              Welcome to Aminah's World where you can take a peek into the mind, work, 
              and processes of this inspiring artist…</p>

              <p class="smallBody">Aminah Robinson's work is a highlight of the collections of the Columbus Museum of Art, 
                which is pleased to present this Website.</p>
                
                <div class= "museumInfo"> 
                <p class="smallBody">Columbus Museum of Art<br>
                480 E. Broad Street<br>
                Columbus, OH 43215<br>
                614-221-6801</p>
                
                <div class="cmaWebLink"> <a href="https://www.columbusmuseum.org/" target="_blank">Visit CMA's website</a></div>
                </div>

                            </div>

                </div>

            </section>

            <footer>
              <div class="footerContents">

                  <div class="copyright">Copyright © 2021. All works of art © Aminah Brenda Lynn Robinson.
                  </div>

                  <ul class="footerNav">
                    <li class="footerNavItem">Site created by <a href="https://www.columbusmuseum.org/">Columbus Museum of Art</a></li>
                    <li class="footerNavItem"><a href="/rights-restrictions">Rights & Restrictions</a></li>
                    <li class="footerNavItem"><a href="http://database.aminahsworld.org/">Aminah Robinson Database</a></li>
                  </ul>
                  
                </div>  

          </footer>

    </body>
</html>