<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Explore Aminah's Work</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/rights.css">

    </head>
    <body>


      <section id="pageContainerRights"> 
            
              <div class="sidebarContainer"> 

                <div class="logo"> <a href ="/home"><img src="/img/logo.png" alt="Aminah's World Logo"></a> </div>
                  <ul class="mainNav">
                      <li class="mainNavItem one"><a href="/artist-bio">Artist Bio & Timeline</a></li>
                      <li class="mainNavItem two"><a href="/explore-work">Explore Aminah's Work</a></li>

                      <li class="mainNavItem three"> <a href="/explore-work/see">Where to See Work by Aminah</a>
                      </li>
                      <li class="mainNavItem four"><a href="/teach">For Teachers & Students</a></li>
                  </ul>
        </div>

                
        <div class="contentContainer">  

          <div class="mainNavItem seeWork five">
            <a href="http://database.aminahsworld.org/" target="_blank">Aminah Brenda Lynn Robinson Database </a>
          </div>



          <div class="rights">

            <h1 class="contentTitle">Rights and Restrictions</h1>    

            <p> All text and images published in Aminah’s World website documents are for personal use only. 
              Text and images are not for use in the public domain. Any commercial use or publication is 
              strictly prohibited. Copying, redistribution, or exploitation for personal or corporate gain 
              is not permitted. All works of art are ©Aminah Brenda Lynn Robinson. Copyright infractions 
              will be prosecuted in accordance with the U.S. copyright laws and the laws of the State of Ohio.</p>
          

                            </div>

                </div>

            </section>

            <footer>
              <div class="footerContents">

                  <div class="copyright">Copyright © 2021. All works of art © Aminah Brenda Lynn Robinson.
                  </div>

                  <ul class="footerNav">
                    <li class="footerNavItem">Site created by <a href="https://www.columbusmuseum.org/">Columbus Museum of Art</a></li>
                    <li class="footerNavItem"><a href="/rights-restrictions">Rights & Restrictions</a></li>
                    <li class="footerNavItem"><a href="http://database.aminahsworld.org/">Aminah Robinson Database</a></li>
                  </ul>
                  
                </div>  

          </footer>

    </body>
</html>