<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Resources for Teachers and Students</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/teach.css">

        <script src="/js/accordion.js" type="text/javascript" defer></script>

    </head>
    <body>


      <section id="pageContainerTeach"> 
            
              <div class="sidebarContainer"> 

                <div class="logo"> <a href ="/home"><img src="/img/logo.png" alt="Aminah's World Logo"></a> </div>
                  <ul class="mainNav">
                      <li class="mainNavItem one"><a href="/artist-bio">Artist Bio & Timeline</a></li>
                      <li class="mainNavItem two"><a href="/explore-work">Explore Aminah's Work</a></li>

                      <li class="mainNavItem three"> <a href="/explore-work/see">Where to See Work by Aminah</a>
                      </li>
                      <li class="mainNavItem four  active"><a href="/teach">For Teachers & Students</a></li>
                  </ul>
        </div>

                
        <div class="contentContainer">  

          <div class="mainNavItem seeWork five">
            <a href="http://database.aminahsworld.org/" target="_blank">Aminah Brenda Lynn Robinson Database</a>
          </div>

          <div class="teach">

            <h1 class="contentTitle">Resources for Teachers and Students</h1>                             


            <div class="accordion"><h2 class="accordionTitle">Lesson Plans</h2>
            </div>
          
            <div class="accordionContent">
                <p>
                  Based on Aminah's work, these lesson plans encourage students to research, document, and 
                  honor their own ancestors, families, and communities and those that are different from 
                  their own. The integrated lesson plans support learning outcomes in the arts, social studies, 
                  and language arts and can be adapted to elementary, middle, and high school grade levels. 
                  They have been developed by the education department of the Columbus Museum of Art 
                  and the teachers who serve as advisors to the Web site.</p>  

                  <div class="teachLinks"><a href="/img/teach/More_Than_a_Chair_Lesson_Plan.pdf" target="_blank">More Than a Chair </a> 
                    <a href="/img/teach/Music_Box_Lesson_Plan.pdf" target="_blank">Music Box</a>  
                    <a href="/img/teach/Storyline_Lesson_Plan.pdf" target="_blank">Storyline</a> 
                     <a href="/img/teach/Unwritten_Love_Letters_Lesson_Plan.pdf" target="_blank">Unwritten Love Letters</a>
                    </div>
                </div>

                <div class="accordion"><h2 class="accordionTitle">Vocabulary</h2>
            </div>
          
            <div class="accordionContent">
              <p class="teachLinks"><a href="/img/teach/Unwritten_Love_Letters_Lesson_Plan.pdf" target="_blank">Download the PDF version here</a></p>
				
              <p><strong>Embellish</strong> - make beautiful with decoration</p>
      
              <p><strong>Family tree</strong> - an illustration that shows the relationships between members of an extended family</p>
      
              <p><strong>Hogmawg</strong> - Aminah Robinson’s mixture of mud, pig grease, dyes, sticks, glue, and lime that she uses in her two- and three-dimensional work</p>
      
              <p><strong>Memory Map</strong> - Aminah Robinson’s art based on her memory and research of a particular place</p>
      
              <p><strong>Metaphor</strong> - a figure of speech that compares unlike things (the heart is a drum)</p>
      
              <p><strong>Middle Passage</strong> - the period between the 1500s and 1860s when millions of Africans were forced into ships and brought to the Americas as slaves</p>
      
              <p><strong>Pattern</strong> - a design system based on the planned relationship of parts</p>
      
              <p><strong>Primary sources</strong> - actual records that have survived from the past, such as letters, photographs, articles of clothing; sources created by people who actually saw or participated in an event and recorded that event or their reactions to it immediately after the event. </p>
      
              <p><strong>RagGonNon</strong> - Amianh Robinson’s word for a complex work of art that is never finished</p>
      
              <p><strong>Sankofa</strong> - from the Akan; the African concept of learning from the past</p>
      
              <p><strong>Secondary sources</strong>- Accounts of the past created by someone either not present when the event took place or removed by time from the event.</p>
      
              <p><strong>Simile</strong>- a figure of speech that compares unlike things using like or as (the heart is like a drum)</p>
      
              <p><strong>Spiritual</strong> - a religious song usually of deeply emotional character developed especially by Blacks in the southern United States</p>
      
              <p><strong>Symbolism</strong> - using an object to stand for another object or idea</p>
      
              <p><strong>Texture</strong> - the way something would feel if you could touch it</p>
      
              <p><strong>Two-dimensional</strong>- having height and width; flat</p>
      
              <p><strong>Three-dimensional</strong> - having height, width, and depth or the appearance of having them</p>
      
              <p><strong>Storyline</strong> - a story based on a particular timeline of events</p>
      
              <p style="margin-bottom:0"><strong>Unwritten Love Letter</strong> - Aminah Robinson’s drawings and mixed media art on envelopes that she has steamed opened and dyed </p>
   
                </div>

                <div class="accordion"><h2 class="accordionTitle">Downloadable Images</h2>
            </div>
          
            <div class="accordionContent">
              <p>To download the hi-res versions of these Aminah works right click the 
                link and select "save target as" or "save link as."</p>

                <div class="download"> 
                <div class="download-thum">
                  <img src="../download/thums/gift-of-love01.jpg" width="150" height="191" alt="Gift Of Love01">
                </div>
                  
                   <div class="description">
                    <strong><em>Gift of Love</em>, 1974-2002</strong><br>
                    Aminah Brenda Lynn Robinson, American, b. 1940<br>
                    Wood, hogmawg, mud, leather, music boxes, and found objects<br>
                    61 x 35 x 56 inches<br>
                    Collection of the artist, promised gift to the Columbus Museum of Art<br>
                    <div class="teachLinks"><a href="../download/Gift_Love.pdf" target="_blank">Download &raquo;</a>
                    </div> 
                </div>
              </div>

              <div class="download"> 
                <div class="download-thum" style="height:120px">
                  <img src="../download/thums/goree-island.jpg" width="150" height="32" alt="Goree Island"></div>
                  <div class="description">
                    <strong><em>Roots Begin with Goree Island</em>, 1980</strong><br>
                    Aminah Brenda Lynn Robinson, American, b. 1940<br>
                    Pen and ink and colored pencils with thread and beads on homemade paper<br>
                    10 ½ x 55 ¼ inches<br>
                    Collection of the artist<br>
                     ©Aminah Brenda Lynn Robinson<br>
                     <div class="teachLinks"><a href="../download/Roots_Goree.pdf" target="_blank">Download &raquo;</a></div>
                  </div>
                </div>
                
                <div class="download">
                <div class="download-thum" style="height:135px">
                  <img src="../download/thums/jerusalem.jpg" width="150" height="101" alt="Jerusalem"></div>
                  <div class="description">
                    <strong><em>Jerusalem, a Walk Through Prophet Street</em>, 1998</strong><br>
                        Aminah Brenda Lynn Robinson. American, b. 1940<br>
                        From <em>Sacred Pages, People of the Book</em><br>
                        Paint on cloth<br>
                    43 ½ x 66 inches<br>
                    Collection of the artist<br>
                    ©Aminah Brenda Lynn Robinson<br>
                    <div class="teachLinks"> <a href="../download/Jerusalem_Prophet.pdf" target="_blank">Download &raquo;</a></div>
                  </div>
                </div>
               
                <div class="download">
                <div class="download-thum" style="height:190px">
                  <img src="../download/thums/my-lord.jpg" width="150" height="187" alt="My Lord"></div>
                  <div class="description">
                    <strong><em>My Lord, What a Morning</em>, 1994</strong><br>
                    Aminah Brenda Lynn Robinson, American, b. 1940<br>
                    Acrylic on wood with iron, steel, and music boxes<br>
                    10 pieces, dimensions variable, component heights 8-10 ft.<br>
                    Columbus Museum of Art<br>
                        ©Aminah Brenda Lynn Robinson<br>
                        <div class="teachLinks"> <a href="../download/My_Lord.pdf" target="_blank">Download &raquo;</a></div>
                  </div>
                </div>
                <div class="download">
                <div class="download-thum" style="height:140px">
                  <img src="../download/thums/one-day.jpg" width="150" height="61" alt="One Day"></div>
                  <div class="description">
                    <strong><em>One Day in 1307 AD: King Abubakari II</em>, 1985-92</strong><br>
                    Aminah Brenda Lynn Robinson. American, b. 1940<br>
                    Button beaded RagGonNon Music Box Pop-Up Book<br>
                    Cloth, thread, buttons, beads, paper, paint, graphite, and music boxes<br>
                    55 x 155 inches<br>
                    Columbus Museum of Art, gift of the artist<br>
                        ©Aminah Brenda Lynn Robinson<br>
                        <div class="teachLinks"> <a href="../download/King_Abubakari_ll.pdf" target="_blank">Download &raquo;</a></div>
                  </div>
                </div>
                <div class="download">
                <div class="download-thum" style="height:120px">
                  <img src="../download/thums/poindexter-first-families.jpg" width="150" height="82" alt="Poindexter First Families"></div>
                  <div class="description">
                    <strong><em>Poindexter Village - First Families in 1940</em>, 1995</strong><br>
                          Aminah Brenda Lynn Robinson, American, b. 1940<br>
                          Paint on cloth<br>
                          36 x 72 inches<br>
                          Private collection<br>
                          ©Aminah Brenda Lynn Robinson<br>
                          <div class="teachLinks"> <a href="../download/Poindexter_Village.pdf" target="_blank">Download &raquo;</a></div>
                  </div>
                </div>
                <div class="download">
                <div class="download-thum" style="height:120px">
                  <img src="../download/thums/sapelo-island.jpg" width="150" height="117" alt="Sapelo Island"></div>
                  <div class="description">
                    <strong><em>Sapelo Island, Hog Hammock Community Quilt</em>, 1977-86</strong>  <br>
                    Aminah Brenda Lynn Robinson, American, b. 1940<br>
                    Wool, buttons, beads, leather, music box and found objects<br>
                    49 x 64 inches<br>
                    Collection of the artist<br>
                    ©Aminah Brenda Lynn Robinson<br>	
                    <div class="teachLinks"> <a href="../download/Sapelo_Island.pdf" target="_blank">Download &raquo;</a></div>
                  </div>
                </div>
                <div class="download">
                <div class="download-thum" style="height:125px">
                  <img src="../download/thums/sojourner-truth.jpg" width="150" height="99" alt="Sojourner Truth"></div>
                  <div class="description">
                    <strong><em>Unwritten Love Letter: Sojourner Truth</em>, 1988</strong><br>
                         Aminah Brenda Lynn Robinson, American, b. 1940<br>
                         Pen and ink, thread, and found objects on hand-dyed envelope<br>
                         14 x 21 inches<br>
                         Private collection<br>
                         ©Aminah Brenda Lynn Robinson<br>
                         <div class="teachLinks"><a href="../download/Sojourner_Truth.pdf" target="_blank">Download &raquo;</a></div>
                  </div>
                </div>
                <div class="download">
                <div class="download-thum" style="height:160px">
                  <img src="../download/thums/streets-of-dakar.jpg" width="150" height="158" alt="Streets Of Dakar"></div>
                  <div class="description">
                    <strong><em>Streets of Dakar, Senegal</em> 1980</strong><br>
                    Aminah Brenda Lynn Robinson, American, b. 1940<br>
                    Paint on cloth<br>
                    101 x 95 inches<br>
                    Collection of the artist<br>
                    ©Aminah Brenda Lynn Robinson<br>
                    <div class="teachLinks"> <a href="../download/Streets_Dakar.pdf" target="_blank">Download &raquo;</a></div>
                  </div>
                </div>
                <div class="download">
                <div class="download-thum" style="height:120px">
                  <img src="../download/thums/sweet-soap.jpg" width="150" height="108" alt="Sweet Soap"></div>
                  <div class="description">
                    <strong><em>Makin’ Sweetsoap in the Backyard</em>, 1995-96</strong><br>
                    Aminah Brenda Lynn Robinson, American, b. 1940<br>
                    Paint on cloth<br>
                    55 x 75 inches<br>
                    Private collection<br>
                    ©Aminah Brenda Lynn Robinson<br>
                    <div class="teachLinks"><a href="../download/Makin_Sweetsoap.pdf" target="_blank">Download &raquo;</a></div>
                  </div>
                </div>
                <div class="download">
                <div class="download-thum">
                  <img src="../download/thums/teachings.jpg" width="150" height="194" alt="Teachings"></div>
                  <div class="description">
                    <strong><em>The Teachings</em>, 1992</strong><br>
                    Aminah Brenda Lynn Robinson, American, b. 1940<br>
                    Cover art for the book of the same name<br>
                    Pen and ink and found objects on paper<br>
                    26 x 20 inches<br>
                    Collection of the artist<br>
                    ©Aminah Brenda Lynn Robinson<br>
                    <div class="teachLinks"> <a href="../download/The_Teachings.pdf" target="_blank">Download &raquo;</a></div>
                  </div>
                </div>
                <div class="download">
                <div class="download-thum" style="height:130px">
                  <img src="../download/thums/Water-St.jpg" width="150" height="43" alt="Water St"></div>
                  <div class="description">
                    <strong><em>Life Along Water Street</em>, 2000-2007</strong><br>
                    Aminah Brenda Lynn Robinson, American, b. 1940<br>
                    Rag painting on paper with thread and buttons<br>
                    18 x 67 inches<br>
                    Columbus Museum of Art, gift of the artist<br>
                        ©Aminah Brenda Lynn Robinson<br>
                        <div class="teachLinks"><a href="../download/Water_Street.pdf" target="_blank">Download &raquo;</a></div>
                  </div>
                </div>
                
              </div>

          

                <div class="accordion"><h2 class="accordionTitle">Related Websites</h2>
            </div>
          
            <div class="accordionContent">
              <p><strong>African Mud Cloth</strong><br />
              <img src="/img/teach/mud-cloth.jpeg" alt="Mud Cloth" style="float:left; margin:10px 15px 0 0">
              <a href="http://www.library.cornell.edu/africana/about/mudcloth" target="_blank">www.library.cornell.edu/africana/about/mudcloth</a><br />
              Aminah uses a number of different African cloths in her work. One of these is Bogolanfini ("Bo-ho-lahn-FEE-nee"), which translates as "mud cloth." This site provides background information on the origins of mud cloth and the techniques involved in making it. In the "Create" section of this Web site, you can include mud cloth in your own design.</p>
      
              <p><strong>Interviewing Techniques </strong><br />
              <a href="http://www.storycorps.net/resord-your-stroy/question-generator" target="_blank">www.storycorps.net/resord-your-stroy/question-generator</a><br /> 
              Much of Aminah's work has been inspired by the stories she carefully listened to and recorded from her elders. This is a wonderful source for questions and techniques students can use in interviewing their elders. </p>
              
              <p><strong>James Earl Jones reading <em>To Be a Drum</em></strong><br />
              <a href="http://www.storylineonline.net/" target="_blank">http://www.storylineonline.net/</a></p>
              
              <p><strong>Kente Cloth</strong><br />
              <img src="/img/teach/kente.jpeg" alt="Kente Cloth" style="float:left; margin:10px 15px 0 0">		
              <a href="http://africa.si.edu/exhibits/kente/strips4.htm" target="_blank">http://africa.si.edu/exhibits/kente/strips4.htm</a><br />
              <a href="http://www.ghanaembassy.or.jp/general/native.html" target="_blank">http://www.ghanaembassy.or.jp/general/native.html</a><br /> 
              This site explores the background of kente cloth, which Aminah often uses in her work. Kente cloth, a fabric made in African regions, especially in the country of Ghana, is woven in strips of brightly patterned bands interspersed with bands of black In the "Create" section of this Web site, you can include kente cloth in your own design.</p> 
      
                      <p><strong>National Underground Railroad Freedom Center</strong><br />
              <a href="http://www.freedomcenter.org" target="_blank">www.freedomcenter.org </a><br />
              Aminah's monumental RagGonNons are displayed in the multi-story lobby of the National Underground Railroad Freedom Center in Cincinnati.</p>
      
              <p><strong>Sapelo Island, Georgia</strong><br />
              <a href="http://www.georgiaencyclopedia.org/nge/Article.jsp?id=h-466" target="_blank">http://www.georgiaencyclopedia.org/nge/Article.jsp?id=h-466</a><br />
              Overview of the history and culture of the island which is the focus of Aminah's Sapelo Series.</p>
      
              <p><strong>Slavery</strong><br />
              Slavery is a topic that Aminah depicts in work such as her Pages in History series, Dad's Journey, and the Sapelo Series. The following sites provide excellent materials related to this subject. <br /><br />
              <a href="http://www.pbs.org/wgbh/aia/home.html" target="_blank">www.pbs.org/wgbh/aia/home.html</a><br />
              Africans in America, the PBS history of slavery in America, is presented with historical narrative, images, documents, stories, and biographies and with a Teacher's Guide for using the material.<br /><br />
              <a href="http://www.slaveryinamerica.org/history/overview.htm" target="_blank">http://www.slaveryinamerica.org/history/overview.htm</a><br />
              Scholars and historians contribute their original essays on the latest scholarship regarding the history of slavery in America. Teachers contribute their best lessons on the subject.</p>
      
              <p><strong>Slave Narratives</strong><br />
              <a href="http://memory.loc.gov/ammem/snhtml/" target="_blank">http://memory.loc.gov/ammem/snhtml/</a><br />
              This Library of Congress site, Born in Slavery: Slave Narratives from the Federal Writers' Project, 1936-1938, contains more than 2,300 first-person accounts of slavery and 500 photographs of former slaves. <br />
              Aminah read these narratives while she was working at the Columbus Metropolitan Library in the 1970s and used them to inspire paintings and drawings from her Pages in History series such as Life and Times of Jack Island, Ex-Slave from an Arkansas Plantation.</p>
      
              <p><strong>Spirituals</strong><br />
              <a href="http://ctl.du.edu/spirituals/" target="_blank">http://ctl.du.edu/spirituals/</a><br /> 
              Sweet Chariot: The Story of the Spirituals is the University of Denver's well-documented Web site that includes an historical overview of spirituals like those referred to in Aminah's work, their evolving contexts, and examples of spirituals being performed. </p>
      
              <p><strong>Underground Railroad</strong><br />
              <a href="http://www.nationalgeographic.com/railroad/" target="_blank">http://www.nationalgeographic.com/railroad/</a><br />
              <a href="http://www.pbs.org/wgbh/aia/part4/4p2944.html" target="_blank">http://www.pbs.org/wgbh/aia/part4/4p2944.html</a><br />
              <a href="http://www.greece.k12.ny.us/ath/library/webquests/underground/default.htm" target="_blank">http://www.greece.k12.ny.us/ath/library/webquests/underground/default.htm</a><br />
              These sites examine the Underground Railroad and provide an historical overview for Aminah's work that documents and celebrates the important role that Ohioans played in helping freed and escaped slaves on their journeys to freedom.  </p>
              
              <p><strong>Virtual tour of Goree Island</strong><br />
              <a href="http://webworld.unesco.org/goree/en/index.shtml" target="_blank">http://webworld.unesco.org/goree/en/index.shtml</a></p>
              
            </div>

                <div class="accordion"><h2 class="accordionTitle">Ideas from Teachers</h2>
                </div>
              
                <div class="accordionContent">
                    
            
                          <p>Ideas, activities, lessons, and comments from teachers that relate to Aminah and her work. Thanks for sharing!</p>
                          <!-- <p>Please click on the "next" and "previous" buttons above to review the ideas.</p> -->
                    
                        
                        <div class="section" id="section1">
                          <p><strong>SUMMER ON THE AVENUE</strong></p>
                          <p><img src="/img/response/summer_on_the_avenue.jpg" alt="Summer on the Avenue" style="float:left; margin-right:15px">While teaching in Pittsburgh I used Aminah's book, "A Street Called Home," as a teaching tool for several quilts and banners. I worked with children ages 4-12. They made patterns and then cut them out of fabric. The final touch was the embellishing with buttons and beads like Aminah. They were very proud as the pieces progressed and they saw a community come to life in our eight-week time together. These pieces were shown in the final production at the end of the summer.</p>
                          <p><a href="../download/summer_on_the_avenue.pdf">Download full response here »</a></p>
                          <p>Submitted by:<br />
                            LaVerne Kemp<br />
                            King Arts Complex Summer Children's Program<br />
                            Columbus, Ohio</p>
                        </div>
                        
                        
                        <div class="section" id="section2">
                          <p><strong>THE INFLUENCE OF OUR ANCESTORS: STORIES AND MEMORIES </strong></p>
                          <p><img src="/img/exploreWork/book/street-home.jpg" alt="A Street Called home" style="float:left; margin-right:15px">When I considered planning an art lesson with my students about Aminah Robinson's art, I thought about creating a lesson that dealt with the importance of work and the jobs our ancestors did and relating it to Aminah's <em>A Street Called Home</em>. When the lesson started to unfold, it became a lesson on ancestors with a different emphasis. Instead of just the occupations of our elders, it was broader. It became a lesson on what our elders and ancestors do (did), why we cherish them, special memories of times spent with them, or the stories we were told about them, and how they influence us (our lives and our art). </p>
                          <p><a href="../download/teacher-response01.pdf">Download full response here »</a></p>
                        </div>
                        
                        <div class="section" id="section3">
                          <p><strong>POEMS RELATING TO AMINAH'S WORK</strong></p>
                          <p>Have each student select a work by Aminah from the "See" section of this website. Have them look at the object carefully, and if available, listen to Aminah talk about it. Have the students write down as many words as possible to describe it. Discuss metaphor and simile and have them create some examples about the painting or sculpture. Then have them write a poem that includes rich description and at least one simile or metaphor. Have them submit their poems to the "Share" section of the website. Be sure to have them note which work of art inspired their poem. Some will be selected for online publication.</p>
                          <p>Submitted by:<br />
                          Carole Genshaft<br />
                          Columbus Museum of Art<br />
                          Columbus, OH<br />
                          Appropriate for Grades: 4-12</p>
                        </div>	
                        
                        <div class="section" id="section4">
                          <p><strong>GCSE COURSEWORK - BEING A YOUNG PERSON IN LIVERPOOL IN 2008, THROUGH THE MEDIUM OF TEXTILES. </strong></p>
                          <p>
                            <!-- <img src="http://www.aminahsworld.org/img/books/gcsc_coursework.jpg" alt="A Street Called home" style="float:left; margin-right:15px"> -->
                            Students aged 14/15 studied the work of Black American textile artist Aminah Robinson whose roots were in slavery and whose textiles were traditionally founded in the feminine craft of quilt-making. Students could see how she emulated the way women used to gather together to make a wedding quilt, or a quilt for a baby by producing large-scale pieces that struck at the heart of her community and her own life.</p><p>Students were shown images of Robinson's work and produced pages of research from school resources and the Internet. They used a wide range of media and techniques to extend their skill base.</p>
                          <p><a href="../download/teacher-response02.pdf">Download full idea here »</a></p>
                        </div>
                        
                        <div class="section" id="section5">
                          <p><strong>FAMILY STORY SHOPPING BAGS AND UNWRITTEN LOVE LETTERS</strong></p>
                          <p><img src="http://www.aminahsworld.org/img/books/rosa-parks.jpg" alt="Unwritten Love Letter Teacher Idea" style="float:left; margin-right:15px">I did two assignments this year based on Aminah's work and Website. I took the Story Lesson from the Teach section of the Website and had the 7th grade students transfer the images onto shopping bags so the students could carry the stories with them wherever they go.</p>
                          <p>The second lesson was research-driven and based on the Unwritten Love Letter lesson plan in the Teach section of the Aminah's World Website. Each eighth-grade student had to find a person or event that exemplified the strength and roots of the civil rights movement.</p>
                          <p><a href="../download/teacher-response03.pdf">Download full ideas here »</a></p>
                        </div>
                        
                        <div class="section" id="section6">
                          <p><strong>DANCING DRUM PROJECT</strong></p>
                          <p><img src="../img/response/dancing_drums_idea.jpg" alt="Jessica W with Drums" style="float:left; margin-right:15px">Students at the Cooperative Artists Institute in Boston, MA recently finished a "banner" in our after-school teen program that is, in part, an homage to Aminah's work. The teens created prints on paper and cloth during the year, then we assembled the cloth prints into a set of "Dancing Drums" complete with stitches, buttons, and beads. 
              </p>
                          <p>Our project is currently on view as part of Community Creations at the Isabella Stewart Gardner Museum in Boston.</p>
                          <p><a href="../download/Dancing_Drum_Project.pdf">Download full idea here »</a> (large file)</p>
                        </div>
                        
                        <div class="section" id="section7">
                          <p><strong>TERRACE PARK ELEMENTARY UNVEILS STUDENT MURAL AT ANNUAL ART SHOW</strong></p>
                          <p><img src="../img/response/rtp-quilt.jpg" alt="TERRACE PARK ELEMENTARY UNVEILS STUDENT MURAL AT ANNUAL ART SHOW" style="float:left; margin-right:15px">The fourth grade students at Terrace Park Elementary School have teamed up with the Terrace Park Historical Society to create a mixed-media mural that was unveiled at the school's annual Art Show and Open House on May 20.</p>
                          <p>The mural, or quilt, is made up of individual panels created by the students&mdash;each one representing architecture, personalities, organizations, geography, history, or events that characterize the village of Terrace Park. To accompany their artwork, students worked in the language arts classroom to develop written pieces about their elements of Terrace Park's history.</p>
                          <p><a href="../download/RTPMural.pdf">Download full idea here »</a></p>
                        </div>	
                    </div>

                    <div class="accordion"><h2 class="accordionTitle">Teacher Advisory Group</h2>
                    </div>
                  
                    <div class="accordionContent">
                      <p style="margin-bottom: 1rem;">The following Ohio teachers and administrators serve as advisors for this Web site.</p>
                        <img src="../img/teach/advisory-group.jpeg" alt="Teach Advisory Group">
                        <div class="columns">
                        <ul>
                          <li>Bev Grady</li>
                          <li>Anne Heiman</li>
                          <li>Jennifer Kozman</li>
                        </ul>
                        <ul>
                          <li>Jill Markey</li>
                          <li>Kathy Oravecz</li>
                          <li>Nancy Pistone<br>
                            <small style="line-height:1em; padding-left:.25rem;">Ohio Department of Education</small><br>
                            <small style="line-height:1em; padding-left:.25rem;">Arts Consultant </small>
                          </li>
                        </ul>
                        <ul>
                          <li>Mary Sheridan</li>
                          <li>Molly Uline-Olmstead</li>
                          <li>Barbara Walker</li>
                          <li>Michelle West</li>
                          <li>Susan Wolf</li>
                        </ul>
                      </div>
                        </div>
                    
                

                    <div class="accordion"><h2 class="accordionTitle">Share Your Idea</h2>
                    </div>
                  
                    <div class="accordionContent">
                      <form id="form"  action="share.php" method="post" style="display:inline;">

                        <div class="firstRow">
                            <input id="" type="text"  placeholder="First Name (last name optional)" 
                             name="fd[name]" />
                         
                             
                            <input id="" type="text" placeholder="Email (your email will not be shared)" 
                             name="fd[email]" />
                        </div>

                          <div class="secondRow">
                           
                            <input id="" type="text" placeholder="School" name="fd[school]"/>
                         
                            <input id="" type="text" placeholder="Location" name="fd[location]"/>
                        
                            <input id="" type="text" placeholder="Grade Level" name="fd[grade]" />
                         
                        </div>
                         
                            <textarea placeholder="Please share your idea!" name="fd[idea]"></textarea>
                  
                          <div class="submit">
                            <input type="submit" value="Submit">
                             <!-- <input type="image" src="../img/teach/submit-purp.gif" name="send" value="send"> -->
                          </div>

                        </form>
                        </div>

                        <!-- <div class="accordion"><h2 class="accordionTitle">Teacher Advisory Group</h2>
                        </div>
                      
                        <div class="accordionContent">
                          <p style="margin-bottom: 1rem;">The following Ohio teachers and administrators serve as advisors for this Web site.</p>
                            <img src="../img/teach/advisory-group.jpeg" alt="Teach Advisory Group">
                            <div class="columns">
                            <ul>
                              <li>Bev Grady</li>
                              <li>Anne Heiman</li>
                              <li>Jennifer Kozman</li>
                            </ul>
                            <ul>
                              <li>Jill Markey</li>
                              <li>Kathy Oravecz</li>
                              <li>Nancy Pistone<br>
                                <small style="line-height:1em; padding-left:.25rem;">Ohio Department of Education</small><br>
                                <small style="line-height:1em; padding-left:.25rem;">Arts Consultant </small>
                              </li>
                            </ul>
                            <ul>
                              <li>Mary Sheridan</li>
                              <li>Molly Uline-Olmstead</li>
                              <li>Barbara Walker</li>
                              <li>Michelle West</li>
                              <li>Susan Wolf</li>
                            </ul>
                          </div>
                            </div> -->
                            </div>



            </div>

         


            </section>

            <footer>
              <div class="footerContents">

                  <div class="copyright">Copyright © 2021. All works of art © Aminah Brenda Lynn Robinson.
                  </div>

                  <ul class="footerNav">
                    <li class="footerNavItem">Site created by <a href="https://www.columbusmuseum.org/">Columbus Museum of Art</a></li>
                    <li class="footerNavItem"><a href="/rights-restrictions.html">Rights & Restrictions</a></li>
                    <li class="footerNavItem"><a href="http://database.aminahsworld.org/">Aminah Robinson Database</a></li>
                  </ul>
                  
                </div>  

          </footer>

    </body>
</html>